:root {
    --background-color: #f0f2f5;
    --text-color: #333;
    --primary-color: #007bff;
    --secondary-background-color: #fff;
    --border-color: #ccc;
    --box-shadow-color: rgba(0, 0, 0, 0.1);
    --button-background-color: #007bff;
    --button-hover-background-color: #0056b3;
    --button-text-color: #fff;
}

body.dark-mode {
    --background-color: #121212;
    --text-color: #e0e0e0;
    --primary-color: #bb86fc;
    --secondary-background-color: #1e1e1e;
    --border-color: #333;
    --box-shadow-color: rgba(0, 0, 0, 0.5);
    --button-background-color: #bb86fc;
    --button-hover-background-color: #3700b3;
    --button-text-color: #121212;
}

body {
    font-family: 'Roboto', Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--background-color);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: var(--text-color);
}

#peerID {
    font-size: 50px;
    font-weight: bold;
    color: var(--text-color);
    text-align: center;
    margin-bottom: 20px;
}

#peerID span {
    color: var(--primary-color);
}

#connectToPeerID {
    font-size: 32px;
    text-align: center;
    padding: 20px;
    margin-bottom: 20px;
    border: 1px solid var(--border-color);
    border-radius: 5px;
    width: 500px;
    box-shadow: 0 2px 4px var(--box-shadow-color);
    background-color: var(--secondary-background-color);
    position: absolute;
    left: 50%;
    top: calc(50% + 58px);
    transform: translate(-50%, 0);
}

#connectToPeerID:focus {
    outline: 1px solid;
    outline-color: var(--primary-color);
}

.hidden {
    display: none;
}

#fileInput {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    font-size: 30vmin;
    text-align: center;
    margin: 0;
    padding: 0;
    border: none;
    border-radius: 0;
    box-sizing: border-box; /* Ensure padding and border are included in width/height */
    opacity: 0; /* Makes the input invisible but clickable */
    cursor: pointer; /* Changes the cursor to indicate it's clickable */
    z-index: 1;
}

.notfy * {
    z-index: 2;
}

h1#fileInputText {
    font-size: 24px;
    text-align: center;
    color: var(--text-color);
    margin-top: 20px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, 0);
}

.container {
    text-align: center;
    padding: 20px;
    background: var(--secondary-background-color);
    border-radius: 10px;
    box-shadow: 0 4px 8px var(--box-shadow-color);
}

button {
    font-size: 18px;
    padding: 10px 20px;
    margin-top: 20px;
    border: none;
    border-radius: 5px;
    background-color: var(--button-background-color);
    color: var(--button-text-color);
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: var(--button-hover-background-color);
}

@media (max-width: 600px) {
    #peerID {
        font-size: 30px;
        margin-bottom: 10px;
    }

    #connectToPeerID {
        font-size: 24px;
        padding: 10px;
        margin-bottom: 10px;
        width: 90%;
        top: calc(50% + 30px);
    }

    h1#fileInputText {
        font-size: 18px;
        margin-top: 10px;
    }

    .container {
        padding: 10px;
    }

    button {
        font-size: 16px;
        padding: 8px 16px;
        margin-top: 10px;
    }
}